@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: currentColor;
}

/***     Navigation      ***/
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

/***     Content     ***/
#general_content {
    margin-top: 50px;
}

.textbox-section {
    margin-top: 30px;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.textbox-anime {
    background-color: #007E33;
}

.textbox-manga {
    background-color: #0d47a1;
}

#anime_content {
    padding-top: 5px;
    background-color: #343a40;
}

#manga_content {
    padding-top: 5px;
    background-color: #343a40;
}

/***     Cards     ***/
.card--section {
    display: flex;
    flex-direction: row;
    width: 15rem auto;
    height: 10rem;
    background: currentColor;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0px;
    border: currentColor;
    margin: auto;
    overflow: hidden;
    min-width: 15rem;
    margin-top: 15px;
}

.card--avatar {
    width: 30%;
    min-width: 30%;
    height: 10rem;
    object-fit: cover;
}

.card--description {
    width: 50%;
    height: 10rem;
    left: 0;
}

.card--title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.card-title-anime {
    color: #00C851;
}

.card-title-manga {
    color: #4285F4;
}

.card--enums {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;

}

.card-enums-anime {
    color: #6db33f;
}

.card-enums-manga {
    color: #1f98ff;
}

.card--score {
    font-weight: 700;
    padding-top: 0.5rem;
    margin-bottom: 7.0rem;
    font-size: 1.2rem;
    width: 20%;
    text-align: center;
    color: white;
    border-bottom-left-radius: 20px ;
}

.card-score-anime {
    background-color:#00C851;
}

.card-score-manga {
    background-color:#4285F4;
}
